Repository NeXifiyAI/opencarbox: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, types

lefthook.yml:

# Lefthook Konfiguration
# Pre-Commit Hooks für Code-Qualität
#
# Installation: pnpm prepare
# Dokumentation: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true
      
    format:
      glob: "*.{js,ts,jsx,tsx,json,md,css}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
      
    types:
      glob: "*.{ts,tsx}"
      run: pnpm tsc --noEmit

pre-push:
  commands:
    quality:
      run: pnpm quality:check

chore: add pnpm-lock.yaml for CI caching
  pnpm-lock.yaml
Due: none

fix: resolve pnpm version conflict in workflows
  .github/workflows/ai-team.yml
  .github/workflows/ci.yml
Due: none

ci: Add CodeQL security scanning and AI Self-Healing scaffold
  .github/workflows/ai-self-healing.yml
  .github/workflows/codeql.yml
Due: none

ci: optimize workflows with parallel jobs, caching and smart triggers (Bots v2)
  .github/workflows/ai-self-healing.yml
  .github/workflows/ci-cd.yml
  .github/workflows/devops-bot.yml
  .github/workflows/qa-bot.yml
  .github/workflows/security-bot.yml
  opencarbox.code-workspace
Due: none

fix(deps): add missing d3 types to traverse pre-push check
  package.json
  pnpm-lock.yaml
Due: format

fix(deps): add missing dependencies for stores, db and scripts
  package.json
  pnpm-lock.yaml
Due: format

[WIP] Fix errors in action pipelines and optimize workflows (#27)
  .github/AUTONOMOUS_SYSTEM.md
  .github/COMPLETION_REPORT.md
  .github/workflows/auto-merge.yml
  .github/workflows/auto-pilot.yml
  .github/workflows/bot-maintenance.yml
  .github/workflows/ci-performance.yml
  .github/workflows/devops-bot.yml
  .github/workflows/full-autonomy.yml
  .github/workflows/master-orchestrator.yml
  .github/workflows/qa-bot.yml
  .github/workflows/security-bot.yml
Due: format

[WIP] Set up multi-site architecture routing (#29)
  IMPLEMENTATION_SUMMARY.md
  package-lock.json
  package.json
  prisma/schema.prisma
  prisma/seed.ts
  src/app/(autohandel)/layout.tsx
  src/app/(shop)/layout.tsx
  src/app/(werkstatt)/layout.tsx
  src/components/marketing/hero.tsx
  src/components/providers.tsx
  src/components/providers/brand-provider.tsx
  src/components/ui/card.tsx
  src/components/ui/index.ts
  src/components/ui/typography.tsx
  src/middleware.ts
  src/styles/globals.css
  tailwind.config.ts
Due: lint, format, types

Implement autonomous CI/CD orchestration with self-healing and production-ready pipeline optimization (#28)
  .github/AUTONOMOUS_CI_CD_CENTRAL.md
  .github/IMPLEMENTATION_COMPLETE.md
  .github/QUICKSTART.md
  .github/workflows/ai-auto-merge.yml
  .github/workflows/ai-self-healing.yml
  .github/workflows/ai-team.yml
  .github/workflows/ci-performance.yml
  .github/workflows/devops-bot.yml
  .github/workflows/enhanced-orchestrator.yml
  .github/workflows/master-orchestrator.yml
  .github/workflows/qa-bot.yml
  .github/workflows/security-bot.yml
  .github/workflows/system-integration-test.yml
  scripts/autonomous/README.md
  scripts/autonomous/bot-lifecycle.sh
  scripts/autonomous/dashboard.sh
  scripts/autonomous/health-check.sh
  scripts/autonomous/init-system.sh
  scripts/autonomous/monitor.sh
  scripts/autonomous/pipeline-optimizer.sh
  scripts/autonomous/recovery-templates.sh
  scripts/autonomous/self-heal.sh
Due: format

fix(ci): Remove explicit pnpm version to fix action-setup conflict
  .github/copilot-instructions.md
  .github/workflows/ci-performance.yml
Due: format

chore: Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none
